# Lv 0

### 옹알이

https://school.programmers.co.kr/learn/courses/30/lessons/120956

In [58]:
can_tell = ['aya','ye','woo','ma']
babbling = ["ayaye", "uuuma", "ye", "yemawoo", "ayaa", "yemaye"]
cnt=0
for word in babbling:
    for ong in can_tell:
        print('#',word, ong)
        if ong in word:
            # 해당 문자열 지워
            word = word.replace(ong,'_')
            print(word)
    word = word.replace('_','')
    if len(word) == 0:
        cnt += 1

# ayaye aya
_ye
# _ye ye
__
# __ woo
# __ ma
# uuuma aya
# uuuma ye
# uuuma woo
# uuuma ma
uuu_
# ye aya
# ye ye
_
# _ woo
# _ ma
# yemawoo aya
# yemawoo ye
_mawoo
# _mawoo woo
_ma_
# _ma_ ma
___
# ayaa aya
_a
# _a ye
# _a woo
# _a ma
# yemaye aya
# yemaye ye
_ma_
# _ma_ woo
# _ma_ ma
___

다른 사람 답안

In [ ]:
import re

def solution(babbling):
    regex = re.compile('^(aya|ye|woo|ma)+$')
    print(regex)
    cnt = 0
    for e in babbling:
        if regex.match(e):
            cnt += 1
    return cnt

3

### 다음에 올 숫자

https://school.programmers.co.kr/learn/courses/30/lessons/120924

In [62]:
common = [2, 4, 8]

minus_1 = common[-1] - common[-2]
minus_2 = common[-2] - common[-3]
divide_1 = common[-1] / common[-2]
divide_2 = common[-2] / common[-3]

if minus_1 == minus_2:
    answer = common[-1] + minus_1
elif divide_1 == divide_2:
    answer = common[-1] * divide_1
int(answer)

16

In [ ]:
common = []

def solution(common):
    minus_1 = common[-1] - common[-2]
    minus_2 = common[-2] - common[-3]
    # 분모가 0이 되는 경우는 계산에서 오류가 날 것임. (등차수열에서 중간에 0이 끼는 경우)
    try:
        divide_1 = common[-1] / common[-2]
        divide_2 = common[-2] / common[-3]
    except:
        pass
    if minus_1 == minus_2:
        answer = common[-1] + minus_1
    elif divide_1 == divide_2:
        answer = common[-1] * divide_1
    return int(answer)

In [88]:
################### 변수 선언을 이렇게 할 수도 있다!!!

a, b, c = [1, 2, 3]
print(a, b, c)

1 2 3

In [ ]:
if 0

### 연속된 수의 합

https://school.programmers.co.kr/learn/courses/30/lessons/120923

In [85]:
num = 4
total = 14
answer = []
median = int(total // num)
if num % 2 != 0:
    for i in range(1,num//2+1):
        answer.append(median + i)
        answer.append(median - i)
    answer.append(median)
    answer.sort()
if num % 2 == 0:
    for i in range(1,num//2):
        answer.append(median + i)
        answer.append(median - i)
    answer.append(median)
    answer.sort()
    answer.append(answer[-1]+1)
answer

[2, 3, 4, 5]

In [ ]:
int(14//4)

3.0

### 종이 자르기

https://school.programmers.co.kr/learn/courses/30/lessons/120922

In [ ]:
m, n = map(int, input())
if (m == 1) and (n == 1):
    answer = 0
else:
    answer = m * n - 1

### 평행

## **다시 풀기 & 다른 코드 참조**

https://school.programmers.co.kr/learn/courses/30/lessons/120875

In [15]:
dots = [[3, 5], [4, 1], [2, 4], [5, 10]]

for i, x in enumerate(dots):
    left = dots[0]
    right = dots[0]
    if x[0] < left[0]:
        left = x
    else:   # x[0] > right[0]
        right = x
mid = []
for dot in dots:
    if dot not in [left,right]:
        mid.append(dot)
m1, m2 = mid

slope1 = abs((left[1]-m1[1])/(left[0]-m1[0]))
slope2 = abs((right[1]-m2[1])/(right[0]-m2[0]))

if slope1 == slope2:
    answer = 1
else:
    answer = 0
answer

0

In [12]:
mid=[]
for dot in dots:
    if dot not in [left,right]:
        mid.append(dot)
mid

[[9, 2], [3, 8]]

In [ ]:
max([[3,4], [2,5]])     #  무슨 기준이지?

[3, 4]

### 분수의 덧셈

## **다시**

In [30]:
numer1, denom1, numer2, denom2 = map(int, input().split())

# 최소공배수 찾기
# 두 수의 최대 공약수 찾기
# 두 수 denom1, denom2, 최대공약수 GCD
# 최소공배수는 GCD * (denom1//GCD) * (denom2//GCD)
# 최대공약수를 어떻게 구하느냐.

for i in range(denom1+1, 1, -1):
    if (denom1 % i == 0) and (denom2 % i == 0):
        GCD = i
        break
LCM = int(GCD * (denom1//GCD) * (denom2/GCD))

times1, times2 = int(LCM/denom1), int(LCM/denom2)

if denom1*times1 == denom2*times2:
    answer = [int(numer1*times1) + int(numer2*times2), int(denom1*times1)]
answer

[5, 4]

In [ ]:
def solution(numer1, denom1, numer2, denom2):
    GCD = 1
    for i in range(denom1, 0, -1):
        if (denom1 % i == 0) and (denom2 % i == 0):
            GCD = i
            print(GCD)
            break
    LCM = int(GCD * (denom1/GCD) * (denom2/GCD))

    times1, times2 = int(LCM/denom1), int(LCM/denom2)

    if denom1*times1 == denom2*times2:
        answer = [int(numer1*times1) + int(numer2*times2), int(denom1*times1)]
    return answer

In [52]:
def solution(numer1, denom1, numer2, denom2):
    GCD = 1
    for i in range(min(denom1,denom2), 0, -1):
        if (denom1 % i == 0) and (denom2 % i == 0):
            GCD = i
            break
    LCM = denom1 * denom2//GCD

    times1, times2 = LCM//denom1, LCM//denom2

    new_newer = numer1 * times1 + numer2 * times2
    new_denom = LCM

    GCD_new = 1
    for i in range(min(new_newer,new_denom), 0, -1):
        if (new_newer % i == 0) and (new_denom % i == 0):
            GCD_new = i
            break

    return [new_newer//GCD_new, new_denom//GCD_new]

In [53]:
solution(9,2,1,3)

[29, 6]

### 겹치는 선분의 길이

https://school.programmers.co.kr/learn/courses/30/lessons/120876

In [ ]:
lines = []

# 선분 두 개일 때 겹치는 길이

a,b,c,d = 0,5,3,9

x = [a,b]
y = [c,d]

lines = [x,y]

left, right = min(b,c), max(b,c)

answer = right - left

# 선분 세 개일 때 겹치는 길이

e, f = 0, 0
z = [e,f]
lines = [x,y,z]

left1, left3 = min(a,c,e), max(a,c,e)

2

In [ ]:
line1 = [i for i in range(a,b+1)]
line2 = [i for i in range(c,d+1)]
line3 = [i for i in range(e,f+1)]

all = line1+line2+line3
for i in range()

In [27]:
[1,2,3]+[4,5]

[1, 2, 3, 4, 5]

In [ ]:
(0,6)
(2,8)

### 주사위 게임

https://school.programmers.co.kr/learn/courses/30/lessons/181916

In [3]:
number_of_people = 0


def increase_user():
    global number_of_people
    number_of_people += 1


def create_user(name, age, address):
    global number_of_people
    print(f'{name}님 환영합니다!')
    user_info = {'name': name, 'age': age, 'address': address}
    increase_user()
    return user_info



name = ['김시습', '허균', '남영로', '임제', '박지원']
age = [20, 16, 52, 36, 60]
address = ['서울', '강릉', '조선', '나주', '한성부']



many_user = list(map(create_user, name,age,address))

김시습님 환영합니다!
허균님 환영합니다!
남영로님 환영합니다!
임제님 환영합니다!
박지원님 환영합니다!

In [7]:
name = ['김시습', '허균', '남영로', '임제', '박지원']
age = [20, 16, 52, 36, 60]
address = ['서울', '강릉', '조선', '나주', '한성부']

many_user = list(map(create_user, name, age, address))
info = map(lambda many_user: many_user.value, name, age)

김시습님 환영합니다!
허균님 환영합니다!
남영로님 환영합니다!
임제님 환영합니다!
박지원님 환영합니다!

In [ ]:
map(lambda x: x[0], many_user)

KeyError: 0

In [ ]:
use = map(map(dict,many_user),)

In [47]:
b = list(map(lambda x: x['name'], many_user))
print(b)

['김시습', '허균', '남영로', '임제', '박지원']

In [49]:
def create_user(name, age, address):
    global number_of_people
    print(f'{name}님 환영합니다!')
    user_info = {'name': name, 'age': age, 'address': address}
#    increase_user()
    return user_info

many_user = list(map(create_user, name, age, address))
print(many_user)

김시습님 환영합니다!
허균님 환영합니다!
남영로님 환영합니다!
임제님 환영합니다!
박지원님 환영합니다!
[{'name': '김시습', 'age': 20, 'address': '서울'}, {'name': '허균', 'age': 16, 'address': '강릉'}, {'name': '남영로', 'age': 52, 'address': '조선'}, {'name': '임제', 'age': 36, 'address': '나주'}, {'name': '박지원', 'age': 60, 'address': '한성부'}]

In [51]:
def func(user):
    return {'name': user['name'], 'age': user['age']}
list(map(func, many_user))

[{'name': '김시습', 'age': 20},
 {'name': '허균', 'age': 16},
 {'name': '남영로', 'age': 52},
 {'name': '임제', 'age': 36},
 {'name': '박지원', 'age': 60}]

In [54]:
list(map(lambda user: {'name': user['name'], 'age': user['age']}, many_user))

[{'name': '김시습', 'age': 20},
 {'name': '허균', 'age': 16},
 {'name': '남영로', 'age': 52},
 {'name': '임제', 'age': 36},
 {'name': '박지원', 'age': 60}]

In [55]:
list(map(lambda user: [user['name'],user['age']],map(lambda user: {'name': user['name'], 'age': user['age']}, many_user)))

[['김시습', 20], ['허균', 16], ['남영로', 52], ['임제', 36], ['박지원', 60]]

In [57]:
info = list(map(lambda user: {'name': user['name'], 'age': user['age']}, many_user))

In [60]:
info[0]['age']

20