In [1]:
import numpy as np

In [6]:
test_num = int(input())

for t in range(test_num):
    n = int(input())
    a,b,c = map(int, input().split())
    d,e,f = map(int, input().split())
    x,y,z = map(int, input().split())

    matrix = np.array([[1,2,3],[4,5,6],[7,8,9]])



    print(f"#{t+1}")
    print()

#1

In [12]:
np.array([[1,2,3],[4,5,6],[7,8,9]]).shape

(3, 3)

In [8]:
a = 'leveal'
n = 0
for i in range(i//2):
    if a[i] == a[-i]:
        pass
    else:
        print(0)
        break
print(1)

1

### 1208. Flatten

In [ ]:
test_num = 1

for t in range(test_num):
    height = list(map(int, input().split()))

    height

In [12]:
import numpy as np
np.where(max(height))

ValueError: Calling nonzero on 0d arrays is not allowed. Use np.atleast_1d(scalar).nonzero() instead.

### 중 2. - 파리 퇴치

In [ ]:
test_num = int(input())

def sum_cross(ma,n):
    s = 0
    best = 0
    for i in range(n):
        s += ma[i].sum()
        for j in range(n):
            s += ma.T[j].sum()
            best = max(s, best)
    return best


def sum_x(n):
    sum = 0
    for i in range(len(n)):
        for j in range(len(n)):
            sum += n[i]
    return sum

def make_matrix(n):
    ma = []
    for i in range(2):
        new = list(map(int, input().split()))
        ma.append(new)
    return np.array(ma)

for t in range(test_num):
    n,m = map(int, input().split())
    ma = make_matrix(n)
    
    sum1 = sum_cross(n)
    sum2 = sum_x(n)
    best = 0
    best = max(sum1,sum2,best)

In [ ]:
import numpy as np

test_case = int(input())

cdx = [1,0,-1,0]
cdy = [0,-1,0,1]
xdx = [1,1,-1,-1]
xdy = [1,-1,-1,1]

for t in range(test_case):
    N, M = map(int, input().split())
    box = [list(map(int, input().split())) for _ in range(N)]

    fly = 0
    
    

    print(f"#{t+1} {best}")

#0 89
#1 209

In [11]:
box = [[1, 3, 5], [6, 1, 7], [12, 4, 0]]
print(''.join(map(str, box[1])))
print(*box[1], sep='')

617
617

### 중 - 3. 숫자 배열 회전 (회전변환)

In [44]:
test_case = int(input())

def rotation(N,mat):
    mat_new = [[0 for _ in range(N)] for _ in range(N)]
    for x in range(N):
        for y in range(N):
            mat_new[x][y] = mat[y][N-1-x]
    return mat_new

for t in range(test_case):
    N = int(input())
    mat = [list(map(int, input().split())) for _ in range(N)]
    #90도 회전
    mat90 = rotation(N,mat)
    mat180 = rotation(N,mat90)
    mat270 = rotation(N,mat180)
    print(f"#{t+1}")
    for n in range(N):
        print(f"{''.join(map(str, mat270[n]))} {''.join(map(str, mat180[n]))} {''.join(map(str, mat90[n]))}")

#1
741 987 369
852 654 258
963 321 147
#2
872686 679398 558496
952899 979157 069877
317594 487722 724799
997427 894586 495713
778960 562998 998259
694855 507496 686278

### 상 1. 장훈이의 높은 선반

In [ ]:
B = 200
total_height_list = []
ans_height_list = [h for h in total_height_list if h > B]

점원은 최대 20명, 한 명당 최대 키는 10,000이므로 모두 최댓값으로 연산을 해도 200,000

In [ ]:
test_case = int(input())
for t in range(test_case):
    N, B = map(int, input().split())
    height_list = list(map(int, input().split()))

    for n in range(N):
        



total_height_list
ans_height_list.sort()
ans = ans_height_list[0]-B
print(f"#{1} ans")

In [8]:
a = [i for i in range(10)]
a.pop(8)
a

[0, 1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
from itertools import combinations